
.chatbot {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  animation: Bounce 1s cubic-bezier(.5,0.05,1,.5) infinite alternate;
}

@keyframes Bounce {
  from { transform: translate3d(0, 0, 0);     }
   to   { transform: translate3d(0, 1rem, 0); }
}

.chatbot:hover{
  animation-play-state:paused;
}
