.container {
    margin-top: 50px;
}

/* #founder {
   height: 300px;
   width: 200px
} */


#jobs {
  margin-top: 50px;
  margin-left: 100px;
margin-right: 100px;
}


#bio {
   
    margin-left: 100px;
    margin-right: 100px;
}

#aboutUsJumbo {
    color: white;
    background-image: url('../../../Assets/images/lighthouse.png');
    background-size: cover;
    height:600px;
    font-family: lato;
    text-shadow: black;

}

#h2about {
 font-family: lato;
    text-align: right;
}
#h2about2 {
 font-family: lato;
    text-align: right;
}
#h2about3 {
  font-family: lato;
    text-align: right;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#cardprepareicon {
 margin-top: 30px;
    height: 80px;
  width: 80px;
}

#cardapplyicon {
margin-top: 30px;
    height: 80px;
  width: 80px;
}

#cardsucceedicon {
margin-top: 30px;
    height: 80px;
  width: 80px;
}