.navbar-brand {
  font-family: lato;
  font-size: 2rem;
  color: #37474F;
  font-weight: 900;
  /* margin-right: 5rem; */
}

.nav-link {
  font-family: lato;
  margin: auto;
}

a:hover {
  text-decoration: none;
}



.navbar-text{
  float:right;
}
